/*
* Colors:
* #2F4E6F - Dark Blue
* #98B1C4 - Lighter Blue
* #C8D7E3 - Lightest Blue
* #ed650e - Orange-ish
* #000000 - Black
* Silver
* Aliceblue
*/

/* Misc */

    body, .nav-holder {
        overflow: hidden;
    }

    .row {
        margin: 0;
    }

/* Backgrounds */

    .first {
        background: linear-gradient(#98B1C4, #2F4E6F);
        color: #C8D7E3;
    }

    .second {
        /* background-color: #C8D7E3; */
        /* background-image: url('../img/tumamocSunrise.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
        /* color: #2F4E6F; */
        background: linear-gradient(#98B1C4, #2F4E6F);
        color: #C8D7E3;
    }

    .third {
        /* background-color: #2F4E6F;
        color: #C8D7E3; */
        background: linear-gradient(#98B1C4, #2F4E6F);
        color: #C8D7E3;
    }

    .fourth {
        /* background-color: #C8D7E3;
        color: #2F4E6F; */
        background: linear-gradient(#98B1C4, #2F4E6F);
        color: #C8D7E3;
    }

    .fifth {
        /* background-color: #2F4E6F;
        color: #C8D7E3; */
        background: linear-gradient(#98B1C4, #2F4E6F);
        color: #C8D7E3;
    }

/* Front Page */

    .topleft_div {
        color: #C8D7E3;
        background-image: url('../img/arizona_canyon.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0px;
        width: 50%;
        height: 100vh;
        z-index: 1;
        border-right: 2px solid #2F4E6F;
    }

    .topright_div {
        color: #2F4E6F;
        background-color: #98B1C4;
        position: absolute;
        right: 0px;
        width: 50%;
        height: 100vh;
        z-index: 1;
        border-left: 2px solid #2F4E6F;
    }

    .content-row-left, .content-row-right {
        height: 100vh;
    }

    .content-row-left h3, .content-row-right h3 {
        font-size: 4em;
    }

    #enter-text {
        color: white;
        font-size: 1em;
        position: absolute;
        left: 50%;
        top: 38%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    #enter-image {
        width: auto;
        max-width: 7%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    /* Media Queries - Front Page */

        @media (max-width: 1024px) {
            .content-row-left h3, .content-row-right h3 {
                font-size: 2em;
            }
            #enter-text {
                font-size: .9em;
            }
            #enter-image {
                width: auto;
                max-width: 10%;
                height: auto;
            }
        }

        @media (max-width: 767px) {
            .content-row-left h3, .content-row-right h3, #enter_btn {
                font-size: 1.6em;
            }
            #enter-text {
                font-size: .8em;
            }
            #enter-image {
                width: auto;
                max-width: 14%;
                height: auto;
            }
        }

        @media (max-width: 576px) {
            .content-row-left h3, .content-row-right h3, #enter_btn {
                font-size: 1.2em;
            }
            #enter-text {
                top: 41%;
            }
        }    @media (max-width: 1024px) {
            .content-row-left h3, .content-row-right h3 {
                font-size: 2em;
            }
            #enter-text {
                font-size: .9em;
            }
            #enter-image {
                width: auto;
                max-width: 10%;
                height: auto;
            }
        }

        @media (max-width: 767px) {
            .content-row-left h3, .content-row-right h3, #enter_btn {
                font-size: 1.6em;
            }
            #enter-text {
                font-size: .8em;
            }
            #enter-image {
                width: auto;
                max-width: 14%;
                height: auto;
            }
        }

        @media (max-width: 576px) {
            .content-row-left h3, .content-row-right h3, #enter_btn {
                font-size: 1.2em;
            }
            #enter-text {
                top: 41%;
            }
        }

/* Overlay/Navigation */

    .overlay img {
        height: 56px;
        margin-bottom: 46px;
        padding: 0 40px 0 10px;
    }

    .nav-holder {
        position: absolute;
        bottom: -8vh;
        width: 100%;
        height: 8vh;
        z-index: 5;
        display: none;
    }

    .nav-holder i {
        font-size: 3.5em;
        padding: 0 8px;
        margin: 0 20px;
        border-radius: 5px;
    }

    /* Unvisited Link */
    .nav-holder a:link {
        color: rgba(255,255,255,.4);
    }

    /* Visited Link */
    .nav-holder a:visited {
        color: rgba(255,255,255,.4);
    }

    /* Mouseover Link */
    .nav-holder a:hover {
        color: rgba(255,255,255,.4);
    }

    /* Selected Link
    .nav-holder a:active {
        color: white;
    } */

    /* Active class to give attention to selected icon for slide */
    .active-nav, .nav-icon:hover {
        /* border-top: 2px solid white;
        border-bottom: 2px solid white; */
        transform: scale(1.2);
        color: white;
    }

    /* Media Queries */

        @media (max-width: 1024px) {
            .overlay img {
                height: 51px;
                margin-bottom: 40px;
                padding-right: 24px;
            }
            .nav-holder i {
                font-size: 3.2em;
                padding: 0 6px;
                margin: 0 10px;
            }
        }

        @media (max-width: 767px) {
            .overlay img {
                height: 38px;
                margin-bottom: 30px;
                padding-right: 18px;
            }
            .nav-holder i {
                font-size: 2.4em;
                padding: 0 3px;
                margin: 0 9px;
            }
        }

        @media (max-width: 576px) {
            .overlay img {
                height: 32px;
                margin-bottom: 24px;
                padding-right: 16px;
            }
            .nav-holder i {
                font-size: 2em;
                padding: 0 2px;
                margin: 0 8px;
            }
        }

        @media (max-width: 330px) {
            .overlay img {
                height: 30px;
                margin-bottom: 18px;
                padding-right: 12px;
            }
            .nav-holder i {
                font-size: 1.5em;
                padding: 0 1px;
                margin: 0 6px;
            }
        }

/* /Overlay */

/* Carousel */

    /* Common */

        .title {
            position: absolute;
            top: 10px;
            left: 20px;
            font-size: 3.2em;
        }

        .para-size {
            font-size: 1.2em;
        }

    /* Media Queries - Common */

        @media (max-width: 1024px) {
            .title {
                top: 10px;
                left: 20px;
                font-size: 2.8em;
            }
            .para-size {
                font-size: 1em;
            }
        }

        @media (max-width: 767px) {
            .title {
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 2.4em;
            }
            .para-size {
                font-size: .9em;
            }
        }

        @media (max-width: 576px) {
            .title {
                top: 10px;
                font-size: 2em;
            }
            .para-size {
                font-size: .8em;
            }
        }

        @media (max-width: 330px) {
            .title {
                top: 10px;
                font-size: 1.8em;
            }
        }

    /* About Slide */

        .about-image, .about-text {
            display: none;
        }

        .about-image img {
            width: 420px;
        }

        .about-para {
            margin-bottom: 8px;
            color: #C8D7E3;
        }

        /* Media Queries About Page */

            @media (max-width: 767px) {
                .about-image {
                    padding-bottom: 20px;
                }
                .about-image img {
                    width: 260px;
                }
                .about-text p {
                    margin-bottom: 8px;
                    text-align: center;
                }
            }

            @media (max-width: 576px) {
                .about-image {
                    padding-bottom: 10px;
                }
                .about-image img {
                    width: 200px;
                }
            }

    /* Technical Slide */

        .tech-wrapper {
            height: 100vh;
        }

        .tech-top-para {
            margin-bottom: 40px;
        }

        .tech-mid-para {
            margin-bottom: 40px;
        }

        #chartContainer {
            height: 350px;
            width: 100%;
        }

        /* Media Queries Tech Slide */

            @media (max-width: 1024px) {
                #chartContainer {
                    height: 320px;
                }
                .tech-top-para {
                    margin-bottom: 32px;
                }
                .tech-mid-para {
                    margin-bottom: 35px;
                }

            }

            @media (max-width: 767px) {
                #chartContainer {
                    height: 260px;
                }
                .tech-text-wrapper {
                    text-align: center;
                }
                .tech-top-para {
                    margin-bottom: 24px;
                }
                .tech-mid-para {
                    margin-bottom: 30px;
                }

            }

            @media (max-width: 576px) {
                #chartContainer {
                    height: 200px;
                }
                .tech-top-para {
                    margin-bottom: 16px;
                }
                .tech-mid-para {
                    margin-bottom: 25px;
                }

            }

            @media (max-width: 362px) {
                #chartContainer {
                    height: 160px;
                }
                .tech-top-para {
                    margin-bottom: 16px;
                }
                .tech-mid-para {
                    margin-bottom: 25px;
                }

            }

    /* Current Slide */

        .current-header {
            font-size: 1.6em;
            margin-bottom: 30px;
        }

        .report-card-div {
            margin-right: 30px;
        }

        .google-badge-div {
            margin-left: 30px;
        }

        .google-badge-div img {
            width: 260px;
        }

        /* Media Queries Current Slide */

            @media (max-width: 767px) {
                .current-header {
                    font-size: 1.2em;
                }
                .report-card-div {
                    margin-right: 0px;
                }
                .google-badge-div {
                    margin-left: 0px;
                }
                .google-badge-div img {
                    width: 200px;
                }
                .badge-text {
                    font-size: .7em;
                }
                .badges {
                    margin-bottom: 35px;
                }
            }

    /* Venture Slide */

        .venture-wrapper {
            height: 100vh;
        }

        #btn-pro {
            border-color: #FF9966;
            color: #FF9966;
        }

        #btn-pro:hover, #btn-git:hover {
            transform: scale(1.1);
        }

        #btn-git {
            border-color: #50BFE6;
            color: #50BFE6;
        }

        .btn-venture {
            background-color: transparent;
        }

        .git-btn-div a {
            text-decoration: none;
        }

        /* Within Modal */

            .project-div {
                margin-bottom: 20px;
                border-bottom: 1px solid #e9ecef;
            }

            .project-btn-div {
                margin-bottom: 30px;
            }

            .project-div:last-child {
                border: none;
            }

            .project-header {
                font-size: 2em;
            }

            .btn-website, .btn-repo {
                border: 1px solid #253e58;
            }

            .btn-website a, .btn-repo a {
                text-decoration: none;
                color: #253e58;
            }

            .btn-website a:hover, .btn-repo a:hover {
                color: white;
            }

            .btn-website:hover, .btn-repo:hover {
                background-color: #253e58;
            }

            .live {
                color: #253e58;
                text-shadow: 0px 0px 10px chartreuse;
            }

        /* Venture Slide Media Queries */

            @media (max-width: 1024px) {
                .btn-venture h1 {
                    font-size: 1em;
                }
            }

            @media (max-width: 767px) {
                .venture-wrapper p {
                    text-align: center;
                }
                #btn-pro {
                    margin-bottom: 10px;
                }
            }

            @media (max-height: 1367px) {
                .btn-venture h1 {
                    font-size: 1.5em;
                }
            }

            @media (max-height: 600px) {
                .btn-venture h1 {
                    font-size: .7em;
                    margin-bottom: 0;
                }

            }

    /* Contact Slide */

    #name, #email, #message {
        background-color: transparent;
        color: #C8D7E3 !important;
    }

    .form-control:hover {
        cursor: pointer;
    }

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome */
        color: #C8D7E3 !important;
    }

    input:-ms-input-placeholder,textarea:-ms-input-placeholder { /* IE 10+ */
        color: #C8D7E3 !important;
    }

    input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
        color: #C8D7E3 !important;
        opacity: 1;
    }

    input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 4 - 18 */
        color: #C8D7E3 !important;
        opacity: 1;
    }

    .submit-btn {
        border-color: #C8D7E3;
        color: #C8D7E3;
    }

    .social-icons {
        margin: 0 auto;
    }

    .social-icons img {
        margin-left: 5px;
        margin-right: 5px;
        width: 50px;
    }

    /* Contact Media Queries */

        @media (max-width: 1024px) {
            .para-contact {
                font-size: 1.2em;
            }
        }

        @media (max-width: 767px) {
            .contact-wrapper p {
                text-align: center;
            }
            .para-contact {
                font-size: 1em;
            }
            .para-contact:first-child {
                margin-bottom: 8px;
            }
        }

        @media (max-width: 576px) {
            .para-contact {
                font-size: .9em;
            }
        }

/*Helps background load properly*/

.carousel-item {
    height: 100vh;
}

.carousel, .item, .active {
    height:100vh;
}

.carousel-inner {
    height:100vh;
}